In [127]:
import pandas as pd
import datetime
import numpy as np

In [179]:
ALL_SONG_PATH="D:/CSE519/Project/billboard_w_new_features_v7.csv"
MERGE_CSV_PATH="D:/CSE519/Project/billboard_w_song_facts_v2.csv"
MAX_CONTINUE_WEEKPATH="D:/CSE519/Project/billboard_with_song_facts_v3.csv"

In [157]:
allSong= pd.read_csv(ALL_SONG_PATH, encoding='latin-1')
allSong_feature=pd.read_csv(MERGE_CSV_PATH,sep='\t')
allSong_feature.shape

(22406, 51)

In [130]:
allSong['dateTime']=pd.DatetimeIndex(allSong['weekid'])
datetime=pd.DatetimeIndex(allSong['dateTime'])

In [133]:
def good_max_week(df):
    song_group=df.groupby(['songid'])
    song_info=[]
    for index,group in song_group:
        group.sort_values(by=['dateTime'],ascending=True)
        songid=group['songid'].tolist()
        songtime=group['dateTime'].tolist()
        seg_array=[]
        start_index=0
        end_index=0
        i=1
        while (i<len(songtime)):   
            if ((songtime[i]-songtime[i-1]).days/7!=1):
                end_index=i        
                seg_array.append(songtime[start_index: end_index])
                start_index=end_index
            i+=1
        if ((start_index==end_index) & end_index<len(songtime)):
            seg_array.append(songtime[end_index:len(songtime)])
        
        max_length=0
        for element in seg_array:
            if (len(element)>max_length):
                max_length=len(element)
        song_info.append((songid[0],max_length))        
    song_df = pd.DataFrame(song_info, columns=['songid', 'continue_week'])
    return song_df

In [134]:
df=good_max_week(allSong)

In [163]:
df.head()

                                              songid  continue_week
0                        "B" GirlsYoung And Restless             15
1  "Cherry Cherry" from Hot August NightNeil Diamond             10
2  "Having A Party" MedleyThe Ovations (Featuring...              9
3                             "Joy" Pt. IIsaac Hayes              9
4                         "Roots" MedleyQuincy Jones              7

# Now merge the two dataFrame

In [164]:
merged_frame=allSong_feature.merge(df, how='left')

In [178]:
print(allSong_feature.shape)
print(merged_frame.shape)

(22406, 51)
(22406, 52)

In [177]:
nan_rows = merged_frame[merged_frame['songid'].isnull()]
nan_rows

Empty DataFrame
Columns: [url, weekid, week_position, song, performer, songid, instance, previous_week_position, rank, weeks_on_chart, year, week, jump_time, max_jump_duration, strict_rule, lenient_rule, all_time_greatest_artist, artist_died, christmas, church, classical, in_commercials, concerts, easter, fourth_of_july, funerals, graduations, grammys, halloween, in_movie_clueless, in_movies, in_plays, in_tv_shows, karaoke, lullabies, mtv_awards, phone_call, politicians, sporting_events, tv_show_theme, weddings, won_oscars, wordcup, popularity, diff_year, adjusted_diff_year, log_rank, log_reverse_rank, log_weeks_on_chart, log_jump_time, log_max_duration, continue_week]
Index: []

[0 rows x 52 columns]

# write the merged data frame to CSV file

In [180]:
merged_frame.to_csv(MAX_CONTINUE_WEEKPATH, index=False)

In [181]:
test_read=pd.read_csv(MAX_CONTINUE_WEEKPATH)
test_read.head()

,url,weekid,week_position,song,performer,songid,instance,previous_week_position,rank,weeks_on_chart,...,wordcup,popularity,diff_year,adjusted_diff_year,log_rank,log_reverse_rank,log_weeks_on_chart,log_jump_time,log_max_duration,continue_week
0,http://www.billboard.com/charts/hot-100/1958-0...,1958-08-02,66,Delicious!,Jim Backus & Friend,Delicious!Jim Backus & Friend,1,NaN,66,2,...,0,28,60,59.5,4.189655,3.555348,0.693147,0.0,2.639057,1
1,http://www.billboard.com/charts/hot-100/1958-0...,1958-08-02,82,Blip Blop,Bill Doggett,Blip BlopBill Doggett,1,NaN,82,2,...,0,12,60,59.5,4.406719,2.944439,0.693147,0.0,2.639057,1
2,http://www.billboard.com/charts/hot-100/1958-0...,1958-08-02,95,Little Mary,Fats Domino,Little MaryFats Domino,1,NaN,72,2,...,0,9,60,59.5,4.276666,3.367296,0.693147,0.0,0.000000,2
3,http://www.billboard.com/charts/hot-100/1958-0...,1958-08-02,52,Early In The Morning,The Rinky-Dinks,Early In The MorningThe Rinky-Dinks,1,NaN,24,9,...,0,23,60,59.5,3.178054,4.343805,2.197225,0.0,0.000000,9
4,http://www.billboard.com/charts/hot-100/1958-0...,1958-08-02,83,Try The Impossible,Lee Andrews And The Hearts,Try The ImpossibleLee Andrews And The Hearts,1,NaN,70,2,...,0,9,60,59.5,4.248495,3.433987,0.693147,0.0,0.000000,2